<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CCafe.Properties.Settings.CompanyDBLab5ConnectionString"
            connectionString="Data Source=LAPTOP-LG1M2GTA;Initial Catalog=CompanyDBLab5;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CCafe.Properties.Settings.Cyber_CafeConnectionString"
            connectionString="Data Source=LAPTOP-LG1M2GTA;Initial Catalog=Cyber_Cafe;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>